# Week 13 - Weekly assessment

## Using `pandas` to manipulate data

#### Assessment

Using the topics covered within the workshops (or otherwise), complete the questions below to fill in the missing syntax.

---

### Census data

Below we define a mocked up table of census data for counties in Wales, United Kingdom. Each anonymised person is given an ID value and data is included for their "age", "region" and "earnings".

This data is then converted into a pandas DataFrame called `census_data`, where the id values are used as the index. This DataFrame will be used for all the questions in this assessment.

In [66]:
# ID value for each person
id_value = ["00091", "00023", "00017", "00098", "00108",
            "00100", "00003", "00097", "00065", "00071", 
            "00010", "00032", "00019", "00089", "00081",
            "00001", "00030", "00079", "00056", "00018"]

# Region each person lives
region = ["Cardiff", "Blaenau Gwent", "Cardiff", "Swansea", "Newport",
          "Conwy", "Cardiff", "Newport", "Swansea", "Gwynedd",
          "Caerphilly", "Swansea", "Conwy", "Caerphilly", "Caerphilly",
          "Newport", "Cardiff", "Cardiff", "Swansea", "Isle of Anglesey"]

# Age in years
age = [29, 50, 37, 39, 21, 
       30, 40, 35, 44, 25,
       29, 46, 23, 35, 21, 
       43, 42, 32, 37, 18]

# Earnings in pounds (Â£) per year
earnings = [20000, 55000, 45000, 29000, 18000,
           20000, 26000, 20000, 21000, 25000,
           25000, 27000, 21000, 45000, 21000, 
           28000, 25000, 25000, 23000, 16000]

census_dict = {"id": id_value, "region": region, "age": age, "earnings": earnings}

In [67]:
import pandas as pd

# Create a pandas DataFrame containing this census data
census_data = pd.DataFrame(census_dict)
census_data = census_data.set_index("id")
census_data

                 region  age  earnings
id
00091           Cardiff   29     20000
00023     Blaenau Gwent   50     55000
00017           Cardiff   37     45000
00098           Swansea   39     29000
00108           Newport   21     18000
00100             Conwy   30     20000
00003           Cardiff   40     26000
00097           Newport   35     20000
00065           Swansea   44     21000
00071           Gwynedd   25     25000
00010        Caerphilly   29     25000
00032           Swansea   46     27000
00019             Conwy   23     21000
00089        Caerphilly   35     45000
00081        Caerphilly   21     21000
00001           Newport   43     28000
00030           Cardiff   42     25000
00079           Cardiff   32     25000
00056           Swansea   37     23000
00018  Isle of Anglesey   18     16000

---

### Questions

Answer the following questions using the `census_data` DataFrame defined above. Each of Questions 1-5 are worth 1 mark. Question 6 asks you to copy code and fill in the gaps (worth 5 marks).

Make sure to use the exact variables names requested within each question.

1) For the `census_data` DataFrame defined above, select the "age" column and save this as a variable called `age`.

In [68]:
# YOUR CODE HERE
age = census_data["age"]

In [69]:
assert len(age) == 20
assert age.name == "age"

2) From the `census_data` DataFrame, select the row for the id_label value of "00023", storing this as a variable called `census_row`.

In [70]:
id_label = "00023"

# YOUR CODE HERE
census_row = census_data.loc["00023"]

In [71]:
assert len(census_row) == 3
assert census_row["region"] == "Blaenau Gwent"

3) Select the "earnings" column and convert this from earning per year to earning per week (assuming 52 weeks in a year). Save your output variable as `earnings_per_week`.

In [72]:
weeks_in_a_year = 52
 
# YOUR CODE HERE

# Here exists a contradiction between the question and the check block. 
# Since the question takes "earnings_per_week" as the variable name, but the check block uses "earning_per_week" instead.
# Therefore, to meet the requirement of the qustion and pass the check, I define two variables here.
earnings_per_week = (census_data["earnings"] / weeks_in_a_year) 
earning_per_week = (census_data["earnings"] / weeks_in_a_year)

In [73]:
import numpy as np
assert len(earning_per_week) == 20
assert np.isclose(earning_per_week.loc["00091"], 384.615385)

4) Calculate the mean for the "earnings" column. Save your output variable as `average_earnings`.

In [74]:
# YOUR CODE HERE
average_earnings = census_data["earnings"].mean()

In [75]:
import numpy as np
assert np.isclose(average_earnings, 26750.0)

5) Filter the `census_data` to only include earnings greater than (>) 40000 pounds per year. Save your output to the variable `census_data_high_earnings`.

In [76]:
# YOUR CODE HERE
filt_earning = census_data["earnings"] > 40000
census_data_high_earnings = census_data[filt_earning]

In [77]:
assert len(census_data_high_earnings) == 3
assert census_data_high_earnings.loc["00017"]["age"] == 37

### Questions (continued)

We want to find out the difference between the average age of people living in the *Cardiff region* and the *Swansea region*, for the census data. Below you have been supplied with some code with gaps which can be used to do this.

6) Update the details below to run this code to find the average age for each region and calculate the difference.

**Replace #MISSING# (only) in code below to do this.**

*You may add additional print statements, if this is helpful*

(5 marks)

``` python
## ANSWER QUESTION USING THIS CODE

# Select the region column from the census_data
region = census_data#MISSING#

# Filter the DataFrame to include rows where the region is "Cardiff", do the same for "Swansea"
filt_cardiff = (region #MISSING# "Cardiff")
census_cardiff = census_data[filt_cardiff]

filt_swansea = (#MISSING#)
census_swansea = census_data[filt_swansea]

# Select the age columns from each subset and find the average
age_cardiff = census_cardiff#MISSING#
average_age_cardiff = age_cardiff#MISSING#

age_swansea = #MISSING#
average_age_swansea = #MISSING#

# Calculate the difference between average ages in the two districts
age_difference_district = average_age_swansea - average_age_cardiff

print("From our small sample of data:")
print(f" The average age in Cardiff is: {average_age_cardiff} years")
print(f" The average age in Swansea is: {average_age_swansea} years")
print(f" This is a difference of {age_difference_district} years.")
```

Copy this code to the cell below and update. Replace #MISSING# (only) in this code.

In [78]:
# YOUR CODE HERE

# Select the region column from the census_data
region = census_data["region"]

# Filter the DataFrame to include rows where the region is "Cardiff", do the same for "Swansea"
filt_cardiff = (region == "Cardiff")
census_cardiff = census_data[filt_cardiff]

filt_swansea = (region == "Swansea")
census_swansea = census_data[filt_swansea]


# # Select the age columns from each subset and find the average
age_cardiff = census_cardiff["age"]
average_age_cardiff = age_cardiff.mean()

age_swansea = census_swansea["age"]
average_age_swansea = age_swansea.mean()

# Calculate the difference between average ages in the two districts
age_difference_district = average_age_swansea - average_age_cardiff

print("From our small sample of data:")
print(f" The average age in Cardiff is: {average_age_cardiff} years")
print(f" The average age in Swansea is: {average_age_swansea} years")
print(f" This is a difference of {age_difference_district} years.")

From our small sample of data:
 The average age in Cardiff is: 36.0 years
 The average age in Swansea is: 41.5 years
 This is a difference of 5.5 years.

In [79]:
assert len(region) == 20
assert region.name == "region"

In [80]:
assert len(census_cardiff) == 5

---